.container {
    height : 100%;
    
    display : grid;
    grid-template-columns: 35% 65%;
    position : relative;
    .profile {
        position : sticky;
        top : 80px;
        height : 200px;
    }
    .details {
        display : flex;
        justify-content: center;
    }
}

@media (width < 850px) {
    .container {
        display : block;
        .profile {
            position : relative;
            top : 0;
        }
    }
}