<div class="container">
    <h1 class="name" style="--animation-delay : 1">
        Diljith P D
    </h1>
    <h3 class="current" style="--animation-delay : 2">
        Student at NIT, Calicut
    </h3>

    <p class="desc" style="--animation-delay : 3">
        Aspriring NLP and Web Developer
    </p>

    <div class="routes" style="--animation-delay : 4">
        <a pRipple routerLink="." fragment="about-me" routerLinkActive="active" [routerLinkActiveOptions]="{
            matrixParams: 'exact',
            queryParams: 'exact',
            paths: 'exact',
            fragment: 'exact',
        }"> About me </a>
        
        <a pRipple routerLink="." fragment="projects" routerLinkActive="active" [routerLinkActiveOptions]="{
            matrixParams: 'exact',
            queryParams: 'exact',
            paths: 'exact',
            fragment: 'exact',
        }"> Projects </a>
        <a pRipple routerLink="." fragment="thank-you" routerLinkActive="active" [routerLinkActiveOptions]="{
            matrixParams: 'exact',
            queryParams: 'exact',
            paths: 'exact',
            fragment: 'exact',
        }"> More </a>
    </div>
    <div class="links">
        <p style="--animation-delay : 5">@Diljith P D 2023</p>
        <a pRipple pButton href="https://github.com/th3bossc/th3bossc" target="_blank" icon="bi bi-github" class="p-button-help p-button-text" style="font-size : 1.2rem; --animation-delay : 6"></a>
        <a pRipple pButton href="https://www.linkedin.com/in/diljith-p-d-815716250" target="_blank" icon="bi bi-linkedin" class="p-button-secondary p-button-text" style="font-size : 1.2rem; --animation-delay : 7"></a>
        <a pRipple pButton href="mailto:diljith2003@gmail.com" target="_blank" icon="bi bi-send-fill" class="p-button-success p-button-text" style="font-size : 1.2rem; --animation-delay : 8"></a>
        <a pRipple pButton href="tel:+918075762993" target="_blank" icon="bi bi-telephone-fill" class="p-button-info p-button-text" style="font-size : 1.2rem; --animation-delay : 9"></a>
        
    </div>
</div>