<div class="container">
    <h3 class="heading"> About Me </h3>
    <hr>
    <p>
        I am an aspiring AI engineer with experience in building image classification and natural language processing models.
    </p>
    <p>
        Complimenting my NLP expertise, I possess skills in full stack development and am proficient in technologies such as HTML, CSS, Javascript (Angular Framework), allowing me to create engaging and responsive user interfaces. 
    </p>
    <p>
        On the backend side, I have experience working with server side frameworks such as Flask for python and express for Node.js. I have designed and developed RESTful APIs to compliment my models, and have worked with both SQL and noSQL databases including mySQL, SQLite and MongoDB.
    </p>
    <div class="resume">
        <a pButton pRipple class="p-button-info p-button-text" label="View full resume" href="https://drive.google.com/file/d/1qJdYOhRpHu8TJ3u6Y3cWTxLP-v_q-jvH/view?usp=drive_link" target="_blank "></a>
    </div>

</div>