.container {
    padding-top : 30px;
    .resume {
        width : 100%;
        display : flex;
        justify-content: flex-start;
    }
}


@media (width < 850px) {
    .container {
        position: relative;
        .heading {
            z-index: 1000;
            position : sticky;
            top : 5px;
            padding : 10px;
            background-color: var(--surface-50);
            border-radius: 8px;
        }
    }
}